{% extends "base.html" %}
{% block content %}
<h2>Dashboard</h2>
<p>Welcome, <b>{{ user.username }}</b></p>

<div class="filters">
  <a class="{% if show=='all' %}active{% endif %}" href="{{ url_for('main.dashboard', show='all') }}">All</a>
  <a class="{% if show=='pending' %}active{% endif %}" href="{{ url_for('main.dashboard', show='pending') }}">Pending</a>
  <a class="{% if show=='done' %}active{% endif %}" href="{{ url_for('main.dashboard', show='done') }}">Done</a>
</div>

<hr>

<h3>Add task</h3>
<form method="POST">
  {{ form.hidden_tag() }}
  <div class="field">
    {{ form.name.label }}<br>
    {{ form.name(placeholder="e.g., CS Coursework") }}
  </div>
  <div class="field">
    {{ form.deadline.label }}<br>
    {{ form.deadline() }}
  </div>
  {{ form.submit(class_="btn") }}
</form>

<hr>

<h3>Tasks</h3>
{% if tasks %}
  <div class="task-list">
    {% for task in tasks %}

      <div class="task {% if task.status == 'Done' %}done{% elif task.is_urgent() %}urgent{% endif %}">


        <div class="task-checkbox">
          <form method="POST" action="{{ url_for('main.toggle_task', task_id=task.id) }}" class="toggle-form">
            <input
              type="checkbox"
              class="task-check"
              {% if task.status =='Done' %}checked{% endif %}
              onchange="this.form.submit()"
            >
          </form>
        </div>


        <div class="task-main">
          <div class="task-title">{{ task.name }}</div>
          <div class="task-meta">
            Deadline (UTC): {{ task.deadline }} | Status: {{ task.status }}
          </div>
        </div>


        <div class="task-actions">
          <form method="POST" action="{{ url_for('main.delete_task', task_id=task.id) }}">
            <button class="btn danger" type="submit">Delete</button>
          </form>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>No tasks yet.</p>
{% endif %}
{% endblock %}